In [8]:
import pandas as pd
df = pd.read_excel('Data Analyst - Test Data.xlsx')
df

,Review,date,Location
0,I was very impressed with the resort.\n Great ...,2019-08-20,Sebastian
1,The rooms were nice the outside needs work als...,2019-08-20,Los Angeles
2,Great location! I have stayed at this hotel on...,2019-08-20,Georgia
3,The hotel was adequate for my stay. The strips...,2019-08-20,NaN
4,"Great location, room was large and spacious. P...",2019-08-19,Palm Harbor
...,...,...,...
6443,"·the staff were all so friendly. frank, the ch...",2019-07-12,United States of America
6444,·the internet barely worked or didn't work,2019-07-12,United States of America
6445,·the location was great.\n \n \n \n \n ·the be...,2019-07-10,United States of America
6446,·we were early for check in and the staff was ...,2019-07-10,United States of America
6447,"·staff, free coffee, location and activities.\...",2019-07-10,United States of America

In [9]:
df.head()

                                              Review       date     Location
0  I was very impressed with the resort.\n Great ... 2019-08-20    Sebastian
1  The rooms were nice the outside needs work als... 2019-08-20  Los Angeles
2  Great location! I have stayed at this hotel on... 2019-08-20      Georgia
3  The hotel was adequate for my stay. The strips... 2019-08-20          NaN
4  Great location, room was large and spacious. P... 2019-08-19  Palm Harbor

In [ ]:
#Now first we have clean the data or can say handle Null

In [10]:
df.isnull().sum()

Review        55
date           0
Location    4737
dtype: int64

In [11]:
df2 = df.dropna()
df2.isnull().sum()

Review      0
date        0
Location    0
dtype: int64

In [12]:
df2.head(10)

                                               Review       date      Location
0   I was very impressed with the resort.\n Great ... 2019-08-20     Sebastian
1   The rooms were nice the outside needs work als... 2019-08-20   Los Angeles
2   Great location! I have stayed at this hotel on... 2019-08-20       Georgia
4   Great location, room was large and spacious. P... 2019-08-19   Palm Harbor
10  Very clean and friendly and I love the locatio... 2019-08-19    California
15  Very nice and quiet and clean rooms. \n We wil... 2019-08-19       Redding
24  The room did not seem clean. There was some so... 2019-08-18  Jacksonville
29  En general excelente. Fantástica situación\n D... 2019-08-17        España
31  Les chambres familiales sont pratiques (nous é... 2019-08-17      Montréal
38  Enjoyed our stay! Staff was welcoming and frie... 2019-08-16     La quinta

In [ ]:
#now we have to reset the data indexing

In [13]:
df2.reset_index(drop=True, inplace=True)
df2.head(15)

,Review,date,Location
0,I was very impressed with the resort.\n Great ...,2019-08-20,Sebastian
1,The rooms were nice the outside needs work als...,2019-08-20,Los Angeles
2,Great location! I have stayed at this hotel on...,2019-08-20,Georgia
3,"Great location, room was large and spacious. P...",2019-08-19,Palm Harbor
4,Very clean and friendly and I love the locatio...,2019-08-19,California
5,Very nice and quiet and clean rooms. \n We wil...,2019-08-19,Redding
6,The room did not seem clean. There was some so...,2019-08-18,Jacksonville
7,En general excelente. Fantástica situación\n D...,2019-08-17,España
8,Les chambres familiales sont pratiques (nous é...,2019-08-17,Montréal
9,Enjoyed our stay! Staff was welcoming and frie...,2019-08-16,La quinta
10,"Well kept up, but where was my complimentary b...",2019-08-15,Seattle
11,propreté impeccable. chambre refaite tous les ...,2019-08-15,savasse France
12,"Sent my parents on an anniversary trip, They w...",2019-08-15,Riverside
13,Beautiful. Clean. Friendly staff. Variety of a...,2019-08-14,"Champaign, IL"
14,This property is advertised as being renovated...,2019-08-14,Pennsylvania

In [ ]:
#now we export the data and let's go to make insights!

In [14]:
df2.to_csv('Clean_Data.csv')

In [15]:
df2.to_excel('Clean_Data.xlxs', sheet_name = 'Task Data')b

ValueError: No engine for filetype: 'xlxs'